<div class="row" ng-controller="HomeExecutiveController" ng-init="fetchIssues()">
  <div class="mt-50">
  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 well-div">
    <div class="text-center">
      <div ng-if="getallAgenciesError" class="alert" ng-class="alert-danger">
        <span > {{getallAgenciesError}}</span>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li><a data-target="#assigned" data-toggle="tab" class="cursor">Assigned</a></li>
      <li><a data-target="#closed" data-toggle="tab" class="cursor">Closed</a></li>
      <li class="active"><a data-target="#home" data-toggle="tab" class="cursor">All Issues</a>
      <li><a data-target="#un_assigned" data-toggle="tab" class="cursor">Un Assigned</a></li>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="assigned">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.status !='resolved' && issue.executive_id == current_user['executive']['id']">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          <hr>
        </div>
        </span>
      </div>
      <div class="tab-pane" id="closed">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.status =='resolved' && issue.executive_id == current_user['executive']['id']">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          <hr>
          </span>
        </div>
      </div>

      <div class="tab-pane active" id="home">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.executive_id == current_user['executive']['id']">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          <hr>
        </div>
        </span>
      </div>

      <div class="tab-pane active" id="un_assigned">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.executive_id == null">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          <hr>
        </div>
        </span>
      </div>

    </div>
  </div>
</div>
</div>