<div id="preloader" ng-show="loadingView"></div>
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Customer Support</a>
      </div>

      <div>
        <ul id="header_list"  class="nav navbar-nav margin_50">
          <li><a ng-href="/">Home </a></li>
          <li><a href="#/my_issues">MyTickets</a></li>
          <li><a href="#/new_ticket">+ New Ticket</a></li>
        </ul>

        <div class="dropdown pull-right" style="padding:12px 50px 0px 0px">
          <span>Hi, Praveen</span>

          <div class="dropdown-content">
            <p>
              <span class="btn btn-danger btn-lg" ng-click="doLogout()">Logout
              </span>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<script>
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
</script>
